[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/vendor/start/lightline.vim"]
	path = vim/.vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
