[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[init]
  defaultBranch = main

{{- if (eq .chezmoi.os "darwin") }}
[core]
  editor = vim

[credential]
  helper = "osxkeychain"
  credentialStore = keychain
{{- else if (and (eq .chezmoi.os "linux") (contains "WSL2" .chezmoi.kernel.osrelease)) }}
[core]
  editor = vim

[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
{{- end }}
{{- if (eq .chezmoi.hostname "QTM-KINGCAME-01") }}
[credential "https://dev.azure.com"]
  useHttpPath = true
{{- end }}

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

