# starship.toml - Evelyn King

add_newline = false
command_timeout = 1000

[shell]
{{- if (eq .chezmoi.os "darwin") }}
# in this case, zsh is the default
zsh_indicator = ""
{{- else }}
bash_indicator = ""  # bash is my default, no indicator
{{- end }}
fish_indicator = "🐟"
style = "cyan bold"
disabled = false

[python]
detect_extensions = []

[conda]
ignore_base = false

